body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.btn {
    border: 2px solid rgb(255, 50, 14);
    background:none;
    color: rgb(255, 38, 0);
    padding: 20px 40px;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color:rgb(250, 37, 0);
    overflow: hidden;
}

.btn:hover {
    color: white;
}

.btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 38, 0);
    z-index: -1;
    border-radius: 50% 50% 0% 0%;
    height: 0%;
    transition: all 0.5s;
}

.btn:hover:before {
    height: 190%;
}
